@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --dark-pink: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish: hsl(303, 10%, 53%);
    --soft-grayish: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --main-font: 'Spartan', sans-serif;;
    --base-fs: 0.95rem;

    --small-fw : 400;
    --medium-fw : 500;
    --large-fw : 700;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}


body {
    position: relative;
    //background-color:rgb(236, 72, 72);
    .desktop {
        display: none;
    }
    .mobile {
        position: absolute;
        z-index: 100;
    }
    .bg-top-mb {
        top: 0;
        left: 0;
    }
    .bg-bottom-mb {
        bottom: 0;
        right: 0;
        //display: none;
    }
    padding: 1.5rem;
    .hero-section {
        margin: 0 auto;
        max-width: 550px;
        .artical {
            .content {
                text-align: center;
                color: var(--dark-pink);
                .title {
                    font-weight: var(--large-fw);
                    font-size: 1.9rem;
                    margin-bottom: 1rem;
                }
                .text {
                    line-height: 1.5rem;
                }
                
            }
            .ratings {
                margin: 2.5rem auto;
                .rating {
                    background-color:var(--soft-grayish);
                    margin: 1rem auto;
                    border-radius: .5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    .star-text {
                        font-weight: var(--large-fw);
                        font-size: 1rem;
                        color: var(--dark-pink);
                    }
                }
            }
        }
        .reviews {
            .review {
                background-color:var(--dark-pink);
                margin: 1rem auto;
                border-radius: .5rem;
                padding: 1.5rem;
                max-width: 22.5rem;
                .people-info {
                    display: flex;
                    align-items: center;
                    justify-content:flex-start;
                    margin-bottom: 1rem;
                    .profile-img {
                        border-radius: 50%;
                        width: 4em;
                        margin-right: 1rem;
                    }
                    .sth {
                        display: flex;
                        flex-direction: column;
                        .name {
                            color: var(--white);
                            font-weight: var(--medium-fw);
                        }
                        .verified {
                            color: var(--soft-pink);
                            font-size: .8rem;
                        }
                    }
                }
                .review-text {
                    color: var(--white);
                    font-size: .9rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width : 800px) {
    body {
        .desktop {
            display: block;
            position: absolute;
            z-index: -10;
        }
        .bg-top-pc {
            top: 0;
            left: 0;
        }
        .bg-bottom-pc {
            bottom: 0;
            right: 0;
        }
        .mobile {
            display: none;
        }
        .hero-section {
            max-width: 1140px;
            //margin-top: 2rem;
            padding: 2.5rem;
            .artical {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .content {
                    max-width: 23rem;
                    margin-right: 1rem;
                    .title {
                        font-size: 2.3rem;
                        text-align: left;
                    }
                    .text {
                        text-align: left;
                    }
                }
                .ratings {
                    width: 35rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .rating {
                        flex-direction: row;
                        width: 25rem;
                        margin: 1rem 0;
                    }
                    .start {
                        align-self: start;
                    }
                    .center {
                        align-self: center;
                    }
                    .end {
                        align-self: end;
                    }
                }
            }
            .reviews {
                margin-top:3rem;
                display: flex;
                height: 20rem;
                .review {
                    margin: .7rem;
                    width: 28rem;
                    min-height: 16rem;
                }
                .first {
                    align-self: start;
                }
                .second {
                    align-self: center;
                }
                .third {
                    align-self: end;
                }
                
            }
        }
    }
}
